<launch>
  <arg name="rviz" default="true" />
  <arg name="controller" default="proposed" />

  <include file="$(find tv_dhocbf_super)/launch/tv_dhocbf_click.launch">
    <arg name="rviz" value="$(arg rviz)" />
    <arg name="controller" value="$(arg controller)" />
    <arg name="sim_config" value="high_speed.yaml" />
    <arg name="goal_x" value="0.0" />
    <arg name="goal_y" value="50.0" />
    <arg name="goal_z" value="1.5" />
    <arg name="control_rate" value="8.0" />
    <arg name="local_range" value="8.0" />
    <arg name="path_margin" value="0.36" />
    <arg name="global_path_extent" value="12.0" />
    <arg name="v_max" value="6.5" />
    <arg name="a_max" value="9.0" />
  </include>
</launch>
