<launch>
  <arg name="rviz" default="true" />
  <arg name="density" default="d3" doc="d1, d2, d3, or d4" />
  <arg name="controller" default="proposed" />
  <arg name="log_csv" default="" />
  <arg name="semantic_markers" default="true" />
  <arg name="semantic_labels" default="false" />
  <arg name="path_margin" default="0.16" />
  <arg name="lookahead" default="2.30" />
  <arg name="local_range" default="7.8" />
  <arg name="v_max" default="5.4" />

  <include file="$(find tv_dhocbf_super)/launch/tv_dhocbf_click.launch">
    <arg name="rviz" value="$(arg rviz)" />
    <arg name="controller" value="$(arg controller)" />
    <arg name="log_csv" value="$(arg log_csv)" />
    <arg name="sim_config" value="tvdhocbf_agile_forest_$(arg density).yaml" />
    <arg name="goal_x" value="0.0" />
    <arg name="goal_y" value="45.0" />
    <arg name="goal_z" value="1.5" />
    <arg name="control_rate" value="10.0" />
    <arg name="visual_rate" value="15.0" />
    <arg name="nmpc_dt" value="0.10" />
    <arg name="local_range" value="$(arg local_range)" />
    <arg name="near_ignore" value="0.62" />
    <arg name="max_obstacles" value="16" />
    <arg name="obstacle_grid" value="0.44" />
    <arg name="obstacle_radius" value="0.12" />
    <arg name="path_margin" value="$(arg path_margin)" />
    <arg name="lookahead" value="$(arg lookahead)" />
    <arg name="path_boundary_padding" value="0.0" />
    <arg name="global_path_extent" value="12.0" />
    <arg name="max_cloud_points" value="3800" />
    <arg name="max_global_cloud_points" value="140000" />
    <arg name="v_max" value="$(arg v_max)" />
    <arg name="a_max" value="8.2" />
    <arg name="confidence_inflation" value="0.042" />
    <arg name="horizon_inflation_growth" value="0.003" />
    <arg name="rsm_reference_shaping" value="true" />
    <arg name="rsm_base_margin" value="0.012" />
    <arg name="rsm_tau" value="0.034" />
    <arg name="rsm_brake_gain" value="0.038" />
    <arg name="rsm_terminal_margin" value="0.010" />
  </include>

  <node if="$(arg semantic_markers)"
        pkg="tv_dhocbf_super"
        type="agile_forest_markers.py"
        name="agile_forest_markers"
        output="screen">
    <param name="show_labels" value="$(arg semantic_labels)" />
  </node>
</launch>
